@{
    ViewBag.Title = "Sistema de Restaurantes";
}

<center>
    <img src="~/Content/capa.jpg"
         title="Sistema de Cadastro de Restaurantes"
         width="678px"
         height="510px"
         border="15px"
         align="top" />
</center>

<center>
    <h3>Sistema de Cadastro de Restaurantes</h3>
</center>
